.main-title {
    text-align: center;
    font-size: 100px;
    color: darkgreen;
}

body {
    background-color: burlywood;
}

.menu {
    text-align: center;
}

h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: blue;
    padding: 1em;
    margin: 1em;
}

p {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: indigo;
    padding: 1rem;
    margin: 1em;
}

.hours {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

.span {
    
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
}

h3 {
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: crimson;
    padding: 1em;
    margin: 1em;
}